includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    level: max

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
